.app_wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'h h' 'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 9fr;    
    background-color: rgb(215, 215, 213);
}
.app_wrapper_content{
    grid-area: c;
    background-color: rgba(213, 210, 210, 0.949);
    margin: 10px 0 0 3px;
}
